{
    "jsc": {
        "baseUrl": "./src",
        "paths": {
            "@@types/*": ["./types/*"],
            "@@entities/*": ["./entities/*"],
            "@@controllers/*": ["./controllers/*"],
            "@@routes/*": ["./routes/*"],
            "@@middleware/*": ["./middleware/*"],
            "@@constants/*": ["./constants/*"],
            "@@utils/*": ["./utils/*"]
        },
        "parser": {
            "syntax": "typescript",
            "decorators": true
        }
    },
    "env": {
        "targets": {
            "node": 20
        }
    }
}